@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radley&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  text-decoration-line: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.fg-lojunu {
  color: var(--lojunu) !important; }

[data-nasin-lukin="walo"] .bg-lojunu {
  background-color: var(--lojunu) !important; }

@media (prefers-color-scheme: light) {
  .bg-lojunu:root:not([data-nasin-lukin="pimeja"]) {
    background-color: var(--lojunu) !important; } }

[data-nasin-lukin="pimeja"] .bg-lojunu {
  border: 3px solid var(--lojunu);
  box-shadow: 0 0 40px var(--lojunu) !important; }

@media (prefers-color-scheme: dark) {
  .bg-lojunu:root:not([data-nasin-lukin="walo"]) {
    border: 3px solid var(--lojunu);
    box-shadow: 0 0 40px var(--lojunu) !important; } }

.fg-loje {
  color: var(--loje) !important; }

[data-nasin-lukin="walo"] .bg-loje {
  background-color: var(--loje) !important; }

@media (prefers-color-scheme: light) {
  .bg-loje:root:not([data-nasin-lukin="pimeja"]) {
    background-color: var(--loje) !important; } }

[data-nasin-lukin="pimeja"] .bg-loje {
  border: 3px solid var(--loje);
  box-shadow: 0 0 40px var(--loje) !important; }

@media (prefers-color-scheme: dark) {
  .bg-loje:root:not([data-nasin-lukin="walo"]) {
    border: 3px solid var(--loje);
    box-shadow: 0 0 40px var(--loje) !important; } }

.fg-lojelo {
  color: var(--lojelo) !important; }

[data-nasin-lukin="walo"] .bg-lojelo {
  background-color: var(--lojelo) !important; }

@media (prefers-color-scheme: light) {
  .bg-lojelo:root:not([data-nasin-lukin="pimeja"]) {
    background-color: var(--lojelo) !important; } }

[data-nasin-lukin="pimeja"] .bg-lojelo {
  border: 3px solid var(--lojelo);
  box-shadow: 0 0 40px var(--lojelo) !important; }

@media (prefers-color-scheme: dark) {
  .bg-lojelo:root:not([data-nasin-lukin="walo"]) {
    border: 3px solid var(--lojelo);
    box-shadow: 0 0 40px var(--lojelo) !important; } }

.fg-jelo {
  color: var(--jelo) !important; }

[data-nasin-lukin="walo"] .bg-jelo {
  background-color: var(--jelo) !important; }

@media (prefers-color-scheme: light) {
  .bg-jelo:root:not([data-nasin-lukin="pimeja"]) {
    background-color: var(--jelo) !important; } }

[data-nasin-lukin="pimeja"] .bg-jelo {
  border: 3px solid var(--jelo);
  box-shadow: 0 0 40px var(--jelo) !important; }

@media (prefers-color-scheme: dark) {
  .bg-jelo:root:not([data-nasin-lukin="walo"]) {
    border: 3px solid var(--jelo);
    box-shadow: 0 0 40px var(--jelo) !important; } }

.fg-graso {
  color: var(--graso) !important; }

[data-nasin-lukin="walo"] .bg-graso {
  background-color: var(--graso) !important; }

@media (prefers-color-scheme: light) {
  .bg-graso:root:not([data-nasin-lukin="pimeja"]) {
    background-color: var(--graso) !important; } }

[data-nasin-lukin="pimeja"] .bg-graso {
  border: 3px solid var(--graso);
  box-shadow: 0 0 40px var(--graso) !important; }

@media (prefers-color-scheme: dark) {
  .bg-graso:root:not([data-nasin-lukin="walo"]) {
    border: 3px solid var(--graso);
    box-shadow: 0 0 40px var(--graso) !important; } }

.fg-laso {
  color: var(--laso) !important; }

[data-nasin-lukin="walo"] .bg-laso {
  background-color: var(--laso) !important; }

@media (prefers-color-scheme: light) {
  .bg-laso:root:not([data-nasin-lukin="pimeja"]) {
    background-color: var(--laso) !important; } }

[data-nasin-lukin="pimeja"] .bg-laso {
  border: 3px solid var(--laso);
  box-shadow: 0 0 40px var(--laso) !important; }

@media (prefers-color-scheme: dark) {
  .bg-laso:root:not([data-nasin-lukin="walo"]) {
    border: 3px solid var(--laso);
    box-shadow: 0 0 40px var(--laso) !important; } }

.fg-blaso {
  color: var(--blaso) !important; }

[data-nasin-lukin="walo"] .bg-blaso {
  background-color: var(--blaso) !important; }

@media (prefers-color-scheme: light) {
  .bg-blaso:root:not([data-nasin-lukin="pimeja"]) {
    background-color: var(--blaso) !important; } }

[data-nasin-lukin="pimeja"] .bg-blaso {
  border: 3px solid var(--blaso);
  box-shadow: 0 0 40px var(--blaso) !important; }

@media (prefers-color-scheme: dark) {
  .bg-blaso:root:not([data-nasin-lukin="walo"]) {
    border: 3px solid var(--blaso);
    box-shadow: 0 0 40px var(--blaso) !important; } }

.fg-lasewi {
  color: var(--lasewi) !important; }

[data-nasin-lukin="walo"] .bg-lasewi {
  background-color: var(--lasewi) !important; }

@media (prefers-color-scheme: light) {
  .bg-lasewi:root:not([data-nasin-lukin="pimeja"]) {
    background-color: var(--lasewi) !important; } }

[data-nasin-lukin="pimeja"] .bg-lasewi {
  border: 3px solid var(--lasewi);
  box-shadow: 0 0 40px var(--lasewi) !important; }

@media (prefers-color-scheme: dark) {
  .bg-lasewi:root:not([data-nasin-lukin="walo"]) {
    border: 3px solid var(--lasewi);
    box-shadow: 0 0 40px var(--lasewi) !important; } }

.fg-lasunu {
  color: var(--lasunu) !important; }

[data-nasin-lukin="walo"] .bg-lasunu {
  background-color: var(--lasunu) !important; }

@media (prefers-color-scheme: light) {
  .bg-lasunu:root:not([data-nasin-lukin="pimeja"]) {
    background-color: var(--lasunu) !important; } }

[data-nasin-lukin="pimeja"] .bg-lasunu {
  border: 3px solid var(--lasunu);
  box-shadow: 0 0 40px var(--lasunu) !important; }

@media (prefers-color-scheme: dark) {
  .bg-lasunu:root:not([data-nasin-lukin="walo"]) {
    border: 3px solid var(--lasunu);
    box-shadow: 0 0 40px var(--lasunu) !important; } }

.fg-unu {
  color: var(--unu) !important; }

[data-nasin-lukin="walo"] .bg-unu {
  background-color: var(--unu) !important; }

@media (prefers-color-scheme: light) {
  .bg-unu:root:not([data-nasin-lukin="pimeja"]) {
    background-color: var(--unu) !important; } }

[data-nasin-lukin="pimeja"] .bg-unu {
  border: 3px solid var(--unu);
  box-shadow: 0 0 40px var(--unu) !important; }

@media (prefers-color-scheme: dark) {
  .bg-unu:root:not([data-nasin-lukin="walo"]) {
    border: 3px solid var(--unu);
    box-shadow: 0 0 40px var(--unu) !important; } }

.fg-body {
  color: var(--on-body) !important; }

.fg-link {
  color: var(--link) !important; }

@media (min-width: 800px) {
  .lili-taso {
    display: none; } }

:root {
  --header: #141414;
  --on-header: #ffffff;
  --body: #ffffff;
  --on-body: #112211;
  --chip: rgba(18, 18, 18, 0.2);
  --link: #228199;
  --rim: rgba(0, 0, 0, 0.1);
  --code: rgba(0, 0, 0, 0.05);
  --big-code: rgba(0, 0, 0, 0.1);
  --lojunu: #ffa4c5;
  --loje: #ffa893;
  --lojelo: #ffb777;
  --jelo: #cac976;
  --graso: #8ed890;
  --laso: #66dfc2;
  --blaso: #5bddfd;
  --lasewi: #76d0ff;
  --lasunu: #b3beff;
  --unu: #fbadff; }

@media (prefers-color-scheme: dark) {
  :root {
    --header: #141414;
    --on-header: #ffffff;
    --body: #1F1F1F;
    --on-body: #eff0f1;
    --chip: rgba(18, 18, 18, 0.2);
    --code: rgba(255, 255, 255, 0.1);
    --big-code: #121212;
    --link: #8adcff;
    --rim: rgba(255, 255, 255, 0.1);
    --lojunu: #ffa4c5;
    --loje: #ffa893;
    --lojelo: #ffb777;
    --jelo: #cac976;
    --graso: #8ed890;
    --laso: #66dfc2;
    --blaso: #5bddfd;
    --lasewi: #76d0ff;
    --lasunu: #b3beff;
    --unu: #fbadff; } }

[data-nasin-lukin="walo"] {
  --header: #141414;
  --on-header: #ffffff;
  --body: #ffffff;
  --on-body: #112211;
  --chip: rgba(18, 18, 18, 0.2);
  --link: #228199;
  --rim: rgba(0, 0, 0, 0.1);
  --code: rgba(0, 0, 0, 0.05);
  --big-code: rgba(0, 0, 0, 0.1);
  --lojunu: #ffa4c5;
  --loje: #ffa893;
  --lojelo: #ffb777;
  --jelo: #cac976;
  --graso: #8ed890;
  --laso: #66dfc2;
  --blaso: #5bddfd;
  --lasewi: #76d0ff;
  --lasunu: #b3beff;
  --unu: #fbadff; }

[data-nasin-lukin="pimeja"] {
  --header: #141414;
  --on-header: #ffffff;
  --body: #1F1F1F;
  --on-body: #eff0f1;
  --chip: rgba(18, 18, 18, 0.2);
  --code: rgba(255, 255, 255, 0.1);
  --big-code: #121212;
  --link: #8adcff;
  --rim: rgba(255, 255, 255, 0.1);
  --lojunu: #ffa4c5;
  --loje: #ffa893;
  --lojelo: #ffb777;
  --jelo: #cac976;
  --graso: #8ed890;
  --laso: #66dfc2;
  --blaso: #5bddfd;
  --lasewi: #76d0ff;
  --lasunu: #b3beff;
  --unu: #fbadff; }

*:not(button) {
  transition: color 200ms, background-color 200ms; }

.lt-top-app-bar {
  width: 100%;
  height: 64px;
  background-color: var(--header);
  display: grid;
  place-items: center; }
  .lt-top-app-bar h1 {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.005em;
    text-align: center;
    display: inline;
    color: var(--on-header); }
  .lt-top-app-bar span.header-grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px; }
    .lt-top-app-bar span.header-grid > *:first-child, .lt-top-app-bar span.header-grid *:last-child {
      flex: 1; }
    .lt-top-app-bar span.header-grid > *:first-child {
      text-align: left; }
    .lt-top-app-bar span.header-grid > *:last-child {
      text-align: right; }
    .lt-top-app-bar span.header-grid > *:not(:first-child):not(:last-child) {
      flex: 0.7;
      text-align: center; }
      .lt-top-app-bar span.header-grid > *:not(:first-child):not(:last-child) a {
        margin-left: 3pt;
        margin-right: 3pt; }
    @media screen and (max-width: 799px) {
      .lt-top-app-bar span.header-grid > *:not(:first-child):not(:last-child), .lt-top-app-bar span.header-grid > *:last-child {
        display: none; }
      .lt-top-app-bar span.header-grid > *:first-child {
        text-align: center; } }
.lt-content-wrapper * {
  font-family: Radley;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 20pt;
  letter-spacing: 0px; }

.lt-content-wrapper h1, .lt-content-wrapper h2 {
  font-family: Raleway;
  font-size: 20pt;
  font-style: normal;
  font-weight: 700;
  line-height: 28pt;
  letter-spacing: 0px; }

.lt-content-wrapper h3 {
  font-family: Raleway;
  font-size: 18pt;
  font-style: normal;
  font-weight: 700;
  line-height: 28pt;
  letter-spacing: 0px; }

.lt-content-wrapper h1, .lt-content-wrapper h2, .lt-content-wrapper h3 {
  margin-top: 1rem; }

.lt-content-wrapper p {
  line-height: 23pt; }

.lt-content-wrapper p + p {
  margin-top: 20pt; }

.lt-content-wrapper ul {
  margin-top: 20pt;
  margin-bottom: 20pt; }

.lt-content-wrapper ul li {
  list-style-type: circle;
  margin-left: 2rem; }

.lt-content-wrapper strong {
  font-weight: 900;
  opacity: 1.0; }

.lt-content-wrapper *:not(pre) > code {
  background-color: var(--code);
  font-family: monospace;
  padding: 2pt;
  border-radius: 3px; }

.lt-content-wrapper pre {
  background-color: var(--big-code);
  padding: 1rem;
  margin: 1rem 0;
  overflow: auto;
  border-radius: 3px;
  border: 1px solid var(--rim); }
  .lt-content-wrapper pre > code {
    font-family: monospace; }

.lt-content-wrapper main a {
  color: var(--link); }
  .lt-content-wrapper main a:visited {
    filter: brightness(-10%); }

address {
  display: inline; }

.lt-card, ul.pagination {
  box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1), 0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
  border-radius: 2px;
  padding: 24px; }

noscript + .lt-article-card, .lt-article-card + .lt-article-card {
  margin-top: 40px; }

.lt-article-card {
  background-color: var(--body);
  transition: 120ms transform;
  border-radius: 3px;
  position: relative; }
  .lt-article-card:hover {
    cursor: pointer;
    transform: translateY(-2px); }
  .lt-article-card:active {
    transform: translateY(3px); }
  .lt-article-card-color {
    background-color: var(--lojelo); }
  .lt-article-card-thumbnail {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 3px; }
  .lt-article-card-title, .lt-article-card-author {
    vertical-align: bottom; }
  .lt-article-card-title {
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px; }
  .lt-article-card-summary {
    font-family: Radley;
    font-size: 14pt;
    font-style: normal;
    font-weight: 400;
    line-height: 18pt;
    letter-spacing: 0px;
    margin-top: 20px; }
  .lt-article-card-author {
    font-family: Raleway;
    font-size: 12pt;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px; }
  .lt-article-card-chip {
    font-family: Raleway;
    font-size: 12pt;
    font-style: normal;
    font-weight: 400;
    line-height: 13pt;
    letter-spacing: 0px;
    padding: 8px;
    border-radius: 100px;
    color: var(--on-body) !important;
    border: 1px solid var(--chip);
    background-color: var(--chip); }
    .lt-article-card-chip + .lt-article-card-chip {
      margin-left: 10px; }
  .lt-article-card-row {
    display: flex;
    align-items: baseline; }
    .lt-article-card-row h3 {
      margin-top: 0; }
    .lt-article-card-row:not(:first-child) {
      margin-top: 24px; }
    .lt-article-card-row-spacer {
      flex-grow: 1; }

.len {
  display: none; }

.lipu-len {
  border-radius: 3px; }
  .lipu-len .len {
    display: grid;
    position: absolute;
    place-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 300ms all;
    background-color: #121212;
    color: white;
    pointer-events: none; }
  .lipu-len:hover .len {
    background-color: transparent;
    color: transparent; }

.lt-content-wrapper {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  flex-direction: column; }
  .lt-content-wrapper .lt-content {
    max-width: 800px;
    max-width: min(800px, 80vw);
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px; }
    .lt-content-wrapper .lt-content img {
      max-width: 100%; }

.lt-nav-footer {
  display: flex;
  width: 100%;
  justify-content: space-between; }
  .lt-nav-footer .lt-footer-card {
    margin-top: 20px;
    flex: 1 0 40%;
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
    padding: 10px;
    font-family: Raleway;
    color: var(--on-body);
    border: 1px solid var(--rim);
    border-radius: 3px; }
  .lt-nav-footer .lt-footer-card--waster {
    display: none; }

.lt-site-footer {
  width: 100%;
  text-align: center;
  margin-top: 4rem; }
  .lt-site-footer a {
    color: var(--link); }

@media screen and (max-width: 799px) {
  .lt-nav-footer {
    flex-direction: column; } }

@media screen and (min-width: 800px) {
  .lt-nav-footer .lt-footer-card {
    max-width: 40%; }
  .lt-nav-footer .lt-footer-card--waster {
    visibility: hidden;
    display: initial; } }

.glossary-term {
  text-decoration: dotted underline; }
  .glossary-term-tooltip {
    visibility: hidden;
    background-color: #121212;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
    transform: translateX(-25%); }
  .glossary-term:hover .glossary-term-tooltip {
    visibility: visible;
    opacity: 1; }

ul.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid var(--rim); }
  ul.pagination li {
    list-style-type: none;
    margin-left: 0; }
  ul.pagination .disabled {
    opacity: 0.5; }
    ul.pagination .disabled a {
      color: var(--on-body); }
  ul.pagination .page-item {
    padding: 8px;
    border-radius: 30px; }
  ul.pagination .active {
    background-color: var(--rim); }

body {
  padding-bottom: 5rem;
  background-color: var(--body);
  color: var(--on-body); }
